{% extends "layout.html" %}
{% block body %}

    
        <h1>There are {{ count }} places in database</h1>
        <br />

        <div>
        <table class="table">
        <tr>
            <th>Name</th>
            <th>Map</th>
        </tr>
        {% for place in places %}
            <tr>
                <td style="vertical-align: middle"><a href="/place/view_place/{{ place.place_id }}">{{ place.name }}</a></td>
                <td><img src='{{ place.img_url }}' width="200"></td>
            </tr>
        {% endfor %}
        </table>
        </div>

    

{% endblock %}