{% extends "layout.html" %}
{% block body %}

    <h1>Process Queue</h1>
        
    <p>This page will poll for SQS messages and return the contents</p>

    <br />
    <br />

    <div id="results"></div>

    <br />
    <br />

    {% if check_yo_self: %}
        <div class="alert alert-danger">Are you VPN'd?</div>
    {% else: %}
        <a href="javascript:go_loop=true;js_process_queue.loop_it();" class="btn btn-primary">Loop It</a>
    {% endif %}

    <br/>
    <br/>
    <br/>
    <br/>

{% endblock %}

{% block script %}
    
    <script>
    go_loop = false;
    last_data = '';
    same_results = 0;

    const js_process_queue = {

        init: function() {
            js_process_queue.get_sqs_message()
        },

        get_sqs_message: function() {
            console.log('Preparing to get a message from queue');

            $('#results').append('<p><b>Retrieving a message from queue</b></p>');
            //call a page via jquery to do this
            $.getJSON('/queue/_process_place_queue')
                .done(function(data) {
                    $('#results').append('<p>' + data + '</p>');

                    //is this data the same as the last data? (probably an error or no queue items left)
                    if (data == "No messages found in queue, exiting" && data == last_data) {
                        console.log('data == last_data, "' + data + '"');
                        same_results += 1;
                    }
                    else {
                        console.log('data != last_data');
                        console.log('data = ' + data);
                        console.log('last_data = ' + last_data);
                        last_data = data;
                        same_results = 0;
                    }

                    console.log('count same_results: ' + same_results + '\n');

                    //re-queue the next pull as long as we haven't had 5 of the same items in a row
                    if (same_results < 5) {
                        setTimeout(function() {
                            js_process_queue.loop_it();
                        }, 3000);
                    }
                })
                .fail(function (err) {
                    $('#results').append('<p>' + err.message + '</p>');
                    last_data = err.message;
                    same_results += 1;

                    //re-queue the next pull as long as we haven't had 5 of the same items in a row
                    if (same_results < 5) {
                        setTimeout(function() {
                            js_process_queue.loop_it();
                        }, 3000);
                    }    
                });
        
        },

        loop_it: function() {

            //go_loop = true;
            js_process_queue.get_sqs_message();
            $("html, body").animate({ scrollTop: $(document).height() }, "slow");
                    
        },

        stop_go_loop: function() {
            go_loop = false;
            $('#results').append('<p>Stopped looping</p>');
        }
    };

    $(document).ready(function() {
        //js_process_queue.init();
    });
    </script>

{% endblock %}