{% extends "layout.html" %}
{% block body %}

        {% if queued != False %}
            <div class="alert alert-info" role="alert">Queued {{ queued_count }} Calendar SQS messages for Place {{ queued }}</div>
        {% endif %}

        <h1>There are {{ count }} places in database</h1>
        <br />

        <div>
        <table class="table">
        <tr>
            <th>Place Id</th>
            <th>Place</th>
            <th>Created Date</th>
            <th>Last Calendar Date</th>
        </tr>
        {% for place in places %}
            <tr>
                <td><a href="/queue/queue_all_calendar/{{ place.place_id }}">{{ place.place_id }}</a></td>
                <td>{{ place.s_name }}</td>
                <td>{{ place.dt_insert }}</td>
                <td>{{ place.max_booking_date }}</td>
            </tr>
        {% endfor %}
        </table>
        </div>

    

{% endblock %}