{% extends "layout.html" %}
{% block body %}

    
        <h1>Log</h1>
        <br />

        <div class="btn-group" role="group" aria-label="More/less logs">
            <a href="/log?minutes=15" class="btn btn-default {% if minutes == 15 %} active{% endif %}">15 mins</a> 
            <a href="/log?minutes=30" class="btn btn-default {% if minutes == 30 %} active{% endif %}">30 mins</a> 
            <a href="/log?minutes=60" class="btn btn-default {% if minutes == 60 %} active{% endif %}">1 hr</a> 
            <a href="/log?minutes=360" class="btn btn-default {% if minutes == 360 %} active{% endif %}">6 hrs</a> 
            <a href="/log?minutes=1440" class="btn btn-default {% if minutes == 1440 %} active{% endif %}">1 day</a>
            <a href="/log?minutes=recent" class="btn btn-default {% if minutes == 9999 %} active{% endif %}">Recent</a>
        </div>

        <br />
        <br />

        <div>
        <table class="table table-striped table-bordered">
        <tr>
            <th>session_id</th>
            <th>insert_date</th>
            <th>function</th>
            <th>action</th>
            <th>elapsed_time</th>
            <th>place_name</th>
        </tr>
        {% for log in logs %}
            <tr>
                <td>{{ log.session_id }}</td>
                <td nowrap>{{ log.insert_date }}</td>
                <td>{{ log.function }}</td>
                <td>{{ log.action }}</td>
                <td>{{ log.elapsed_time }}</td>
                <td>{{ log.place_name }}</td>
            </tr>
        {% endfor %}
        </table>
        </div>


{% endblock %}