{% extends "layout.html" %}
{% block css %}
    <style>
    #map {
        height: 500px;
        width: 100%;
    }
    </style>
{% endblock %}
{% block body %}

    
    <h1>{{ place.name }} &nbsp;&nbsp;&nbsp;<small><a href="/place/view_place/{{ place.place_id }}/queue" class="btn btn-primary">Scrape Airbnb</a></small></h1>
    <h3>{{ place.listing_count }} Listings</h3>

    <br />
    <br />

    <div id="map"></div>

    <div id="avg_by_num_bedrooms_div"></div>

    {% raw %}
    <script type="text/x-tmpl" id="avg_by_num_bedrooms_tmpl">
        <div class="row">
            <h3>Average by Num Bedrooms</h3>
            <table class="table table-striped">
            <tr>
                <th align="center">Bedrooms</th>
                <th align="center">Rental Houses</th>
                <th align="center">Avg Monthly</th>
                <th align="center">80th%</th>
                <th align="center"># For Sale</th>
                <th align="center">Avg Mortgage</th>
                <th align="center">Diff</th>
                <th align="center">Diff %</th>
            </tr>
            {% for (var i=0; i < o.length; i++) { %}
                <tr id="bedroms_{{ row.i_bedrooms }}">
                    <td align="center" style="background-color: {%= get_color(o[i].i_bedrooms) %}">{%= o[i].i_bedrooms %}</td>
                    <td align="center">{%= o[i].count_homes %}</td>
                    <td align="center">${%= o[i].avg_bookings %}</td>
                    <td align="center">${%= o[i].eighty_pct %}</td>
                    <td align="center">
                        {% if (o[i].count_for_sale) { %}
                            {%= o[i].count_for_sale %}
                        {% } %}
                    </td>
                    <td align="center">
                        {% if (o[i].mortgage_cost) { %}
                            ${%= o[i].mortgage_cost %}
                        {% } %}
                    </td>
                    {% if (o[i].avg_bookings && o[i].mortgage_cost) { 
                        var diff = o[i].eighty_pct - o[i].mortgage_cost;
                        var diff_pct = Math.round(((o[i].eighty_pct / o[i].mortgage_cost) - 1) * 100);
                        var td_class = "";
                        if (diff > 0) {
                            td_class = "success";
                        }
                        else if (diff < 0) {
                            td_class = "danger"; 
                        }  %}
                        <td align="center" class="{%= td_class %}">${%= diff %}</td>
                        <td align="center" class="{%= td_class %}"><small>{%= diff_pct %}%</small></td>
                    {% }
                       else { %}
                        <td></td>
                    {% } %}

                    
                </tr>
            {% } %}
            </table>

        </div>

    </script>
    {% endraw %}

    <script>
    var map = null;
    
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3
        });


        var rectangle = new google.maps.Rectangle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#000000',
            fillOpacity: 0,
            map: map,
            bounds: {
                north: {{ place.ne_lat }},
                south: {{ place.sw_lat }},
                east: {{ place.ne_lng }},
                west: {{ place.sw_lng }}
            }
        });
    }

    function getCircle(count_nights_rank, total_bookings_rank, color) {
        return {
            path: google.maps.SymbolPath.CIRCLE,
            fillColor: color,
            fillOpacity: Number(total_bookings_rank) / 100, //.2,
            scale: Math.sqrt(count_nights_rank), //Math.pow(2, count_nights_rank) / 2,
            strokeColor: 'white',
            strokeWeight: .5
        };
    }

    function getListings() {
        $.getJSON('/place/_listings_geojson/{{ place.place_id }}', function(listings) {

            //var heatmapData = [];
            var bounds = new google.maps.LatLngBounds();

            bounds.extend(new google.maps.LatLng({{ place.ne_lat }}, {{ place.ne_lng }}))
            bounds.extend(new google.maps.LatLng({{ place.sw_lat }}, {{ place.sw_lng }}))

            for (i = 0; i < listings.length; i++) {

                var latLng = new google.maps.LatLng(listings[i]['lat'], listings[i]['lng'])
                bounds.extend(latLng)

                var marker = new google.maps.Marker({
                    map: map,
                    position: latLng,
                    clickable: true,
                    icon: getCircle(listings[i]['count_nights_rank'], listings[i]['total_bookings_rank'], get_color(listings[i]['bedrooms']))
                });
                marker.note = '<div>' + 
                                '<h3>' + listings[i]['name'] + '</h3>' +
                                '<table width="100%"><tr><td>' +
                                '<b>Nightly Rate:</b> ' + listings[i]['rate'] + '<br>' +
                                '<b>Star rating:</b> ' + listings[i]['star_rating'] + '<br>' +
                                '<b>Num reviews:</b> ' + listings[i]['count_reviews'] + '<br>' +
                                '<b>Bedrooms:</b> ' + listings[i]['bedrooms'] + '<br>' +
                                '<b>Baths:</b> ' + listings[i]['bathrooms'] + '<br>' +
                                '<b>Beds:</b> ' + listings[i]['beds'] + '<br>' +
                                '<b>Person capacity:</b> ' + listings[i]['person_capacity'] + '<br>' +
                                '<b>Avg Monthly Bookings:</b> $' + listings[i]['avg_monthly_bookings'] + '<br>' + 
                                '<b>Airbnb:</b> <a href="https://www.airbnb.com/rooms/' + listings[i]['listing_id'] + '" target="_new">Go to Airbnb</a><br>' +
                                '</td>' +
                                '<td align="center"><img src="' + listings[i]['picture_url'] + '" height="140" style="margin-left: 15px;"></td>' +
                                '</tr></table>'
                                '</div>';

                var infoWindow = new google.maps.InfoWindow();

                marker.addListener('click', function() {
                    infoWindow.setContent(this.note);
                    infoWindow.open(this.getMap(), this);
                });

            };

            map.fitBounds(bounds);

            getForSale({{ place.ne_lat }}, {{ place.ne_lng }}, {{ place.sw_lat }}, {{ place.sw_lng}});

            map.addListener('dragend', function() {
                clearForSale();
                ne = map.getBounds().getNorthEast();
                sw = map.getBounds().getSouthWest();
                getForSale(ne.lat(), ne.lng(), sw.lat(), sw.lng());
            });
            
            map.addListener('zoom_changed', function() {
                clearForSale();
                ne = map.getBounds().getNorthEast();
                sw = map.getBounds().getSouthWest();
                getForSale(ne.lat(), ne.lng(), sw.lat(), sw.lng());
            });
            

        });
    }

    var forSaleMarkers = [];

    function getForSale(ne_lat, ne_lng, sw_lat, sw_lng) {

        $.getJSON('/place/_for_sale/' + ne_lat + '/' + ne_lng + '/' + sw_lat + '/' + sw_lng, function(results) {
    
            //loop and put markers on screen
            for (i = 0; i < results.page.cards.length; i++) {
                
                card = results.page.cards[i];

                if (card.beds !== undefined) {

                    offset = Math.random() / 5000;
                    offset2 = Math.random() / 5000;

                    var latLng = new google.maps.LatLng(card.latLng[0] + offset, card.latLng[1] + offset2);

                    var marker = new google.maps.Marker({
                        map: map,
                        position: latLng,
                        icon: {
                            path: google.maps.SymbolPath.FORWARD_OPEN_ARROW,
                            scale: 2,
                            labelOrigin: new google.maps.Point(0, 8),
                            strokeColor: get_color(card.beds)
                        },
                        label: {
                            text: card.shortPrice + ' (' + card.beds + ')',
                            color: get_color(card.beds),
                            fontSize: '10px',

                        },
                        bedrooms: card.beds,
                        price: card.price
                    });
                    marker.note = '<div>' + 
                                    '<h3>' + card.streetAddress + '</h3>' +
                                    '<table width="100%"><tr><td>' +
                                    '<b>Bedrooms:</b> ' + card.beds + '<br>' +
                                    '<b>Bathrooms:</b> ' + card.baths + '<br>' +
                                    '<b>Sq/ft:</b> ' + card.sqft + '<br>' +
                                    '<b>Location:</b> ' + card.footer.location + '<br>' +
                                    '<b>Price:</b> ' + card.price + '<br>' +
                                    '<b>Mortgage @ 20%:</b> $' + monthlyPayment(cleanDollar(card.price)) + '<br>' +
                                    '<b>Mortgage @ 50%:</b> $' + monthlyPayment(cleanDollar(card.price), 50) + '<br>' +
                                    '<b>Trulia:</b> <a href="https://www.trulia.com' + card.cardUrl + '" target="_new">Trulia site</a><br>' +
                                    '</td>' +
                                    '<td align="center"><img src="https://thumbs.trulia-cdn.com' + card.photoUrl + '" height="140" style="margin-left: 15px;"></td>' +
                                    '</tr></table>'
                                    '</div>';

                    forSaleMarkers.push(marker);
                    
                    var infoWindow = new google.maps.InfoWindow();

                    marker.addListener('click', function() {
                        infoWindow.setContent(this.note);
                        infoWindow.open(this.getMap(), this);
                    });

                }

            }

            //markerCluster = new MarkerClusterer(map, forSaleMarkers, {imagePath: '/static/images/m'});

            update_avg_cost_analysis();
            
        });
    }

    function clearForSale() {

        for (var i = 0; i < forSaleMarkers.length; i++) {
            forSaleMarkers[i].setMap(null);
        }
        
        forSaleMarkers = [];

        for (var i = 0; i < avg_bookings_by_bedrooms.length; i++) {
            avg_bookings_by_bedrooms[i].count_for_sale = 0;
            avg_bookings_by_bedrooms[i].avg_cost = 0;
            avg_bookings_by_bedrooms[i].mortgage_cost = 0;    
        }
        
    }

    //loop through the forSaleMarkers array and update the average monthly table
    function update_avg_cost_analysis() {

        var arr = [];

        //loop through 1-5 bedroom houses and update total num houses and total cost
        for (i = 0; i <= 5; i++) {
            
            var result = $.grep(forSaleMarkers, function(item){
                return item.bedrooms == i + 'bd';
            });

            if (result.length > 0) {
                var exists = arr[i];
                if (!exists)
                    arr[i] = {"count_for_sale": 0, "total_cost": 0, "avg_cost": 0, "mortgage_cost": 0};

                thisListing = arr[i];

                for (j = 0; j < result.length; j++) {

                    if ($.isNumeric(result[j].price.replace(/[^0-9\.]+/g,""))) {
                        thisListing.count_for_sale += 1;
                        var price = cleanDollar(result[j].price);
                        thisListing.total_cost += price;
                    }
                }

                //get mortgage cost
                if (thisListing.total_cost > 0) {
                    thisListing.avg_cost = Math.round(thisListing.total_cost / thisListing.count_for_sale);
                    thisListing.mortgage_cost = monthlyPayment(thisListing.avg_cost);
                }

                //merge into avg_bookings_by_bedrooms
                var result = $.grep(avg_bookings_by_bedrooms, function(item) {
                    return item.i_bedrooms == i;
                });

                var exists = avg_bookings_by_bedrooms[i];
                if (!exists)
                    avg_bookings_by_bedrooms[i] = {"avg_bookings": 0, 
                                                    "count_homes": 0, 
                                                    "i_bedrooms": i, 
                                                    "count_for_sale": 0,
                                                    "avg_cost": 0,
                                                    "mortgage_cost": 0
                                                }

                avg_bookings_by_bedrooms[i].count_for_sale = thisListing.count_for_sale;
                avg_bookings_by_bedrooms[i].avg_cost = thisListing.avg_cost;
                avg_bookings_by_bedrooms[i].mortgage_cost = thisListing.mortgage_cost;
                    
            }
            
        }

        displayAvgBookingsTable(avg_bookings_by_bedrooms);
    }


    // house_cost = cost of house
    // down_payment_pct = down payment percent
    // loan_years = years of loan
    // interest_rate = yearly interest rate
    function monthlyPayment(house_cost, down_payment_percent, loan_years, interest_rate) {
        //default values
        if (down_payment_percent === undefined)
            down_payment_percent = 20;

        if (loan_years === undefined)
            loan_years = 30;

        if (interest_rate === undefined)
            interest_rate = 5;

        //get principle, amount of loan
        var principle = house_cost * (1 - (down_payment_percent / 100));
        //turn years into months
        var num_months = loan_years * 12;
        //turn i into a monthly interest rate
        interest_rate = interest_rate / 100 / 12;
        return Math.round(principle * interest_rate * (Math.pow(1 + interest_rate, num_months)) / (Math.pow(1 + interest_rate, num_months) - 1));
    }

    function cleanDollar(num) {
        return Number(num.replace(/[^0-9\.]+/g,""));
    }

    function displayAvgBookingsTable(data) {
        $('#avg_by_num_bedrooms_div').html(tmpl("avg_by_num_bedrooms_tmpl", data));

        //if a particular home listing get >200% returns, make it stand out
        //do it here
        //forSaleMarkers[0].setLabel({"color":"Red", "text":"yo yo"});
    }

    function get_color(bedrooms) {
        if (colors[bedrooms] !== undefined) {
            return colors[bedrooms]
        }
        else if (colors[bedrooms.substring(0,1)] !== undefined) {
            return colors[bedrooms.substring(0,1)];
        }
        else {
            return colors[0];
        }
    }

    var avg_bookings_by_bedrooms = {{ avg_bookings_by_bedrooms|tojson }};
    var colors = {{ colors|tojson }};

    </script>
    
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key_js_map }}&callback=initMap">
    </script>

    <script>
    $(document).ready(function() {
        getListings();
    });
    </script>

    <br />
    

{% endblock %}